#home {
  background-color: var(--bg-color);
  width: auto;
}
.home{
    position: relative;
    width: 100%;
    height: calc(100vh - 3rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .home-img {
    width: 730px;
    border-radius: 50%;
    background: rgb(102,39,106);
    background: linear-gradient(90deg, rgba(102,39,106,1) 2%, rgba(148,187,233,1) 100%);
  }
  .home-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
  }
  .home-text span {
    padding: 5px 25px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);                                                      
    box-shadow: 0px 20px 40px #5d0070;
    border: 1px solid #3b3b3b;
    border-radius: 100px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
  }
  .home-text h1{
    font-size: var(--big-font);
    margin: 23px 0;
  }
  .home-text p{
    font-size: var(--p-font);
    font-weight: 400;
    color: #c3c3c3;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .main-btn{
    display: flex;
    flex-direction: row;
  }
  .btn {
    display: inline-block;
    width: auto;
    padding: 14px 34px;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;
  }
  .btn:hover{
    transform: translateY(-5px);
    background: transparent;
    color: var(--main-color);
  }
  .two {
    display: flex;
    justify-content: center;
    background: #141414;
    border: 2px solid #141414;
    color: var(--text-color);
    margin-left:25px;

     &:hover{
    color: #141414;
    background: var(--text-color);
    border: 2px solid var(--text-color)
     }
  }

  
  @media(max-width: 1370px){
    :root {
        --big-font: 3.5rem;
        --p-font: 1rem;
        transition: .2s;
    }
  }
  @media(max-width: 1020px){
    .navbar a {
        margin: 0 15px;
    }
    :root {
        --big-font: 3rem;
        --p-font: 1rem;
        transition: .2s;
    }
  }
  
  @media(max-width: 950px){
    .home{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top:100px;
    }
    .home-text{
        order:2;
        margin-top: 100px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .home-text p{
        width: 500px;
    }
    .home-img {
        margin: auto;
        width: auto;
        height:auto ;
    }
    .home-img img {
        max-width: 450px;
        width: 100%;
        height: auto;
    }
  }
 
  @media(max-width:550px){
    :root{
        --big-font: 2rem;
        --p-font: 15px;
        transition: .2s;
    }
    .home {
      width: 100%;
      text-align: center;
    }
    .btn{
        padding: 9px 28px;
    }
    .home-text {
      order:1;
    }
    .home-img {
      margin: auto;
      width: 300px;
  }
    .home-text h1{
      font-size: 30px;
      margin: 23px 0;
    }
    .home-text p{
      text-align: justify;
      padding:0 100px;
      font-size: 15px;
      font-weight: 400;
      color: #c3c3c3;
      line-height: 30px;
      margin-bottom: 30px;
    }
    .main-btn{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .btn {
      width: auto;
    }
    .two {
      margin-left:0;
    }
  }
  
  .home-img {
    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s ;
  }
  @keyframes imgg{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px)
    }
    100%{
        transform: translateY(0);
    }
  }